.page
    margin-top: 80px

    > h1
        text-align: center
        margin-bottom: 2rem

.about-content
    background-color: #f0ede5
    background-image: radial-gradient(circle, $gama 1px, transparent 1px)
    background-size: 20px 20px
    padding: 3.4rem             /* adjusting the text and dot pattern distance */
    margin: 0 auto
    margin-width: 80%
    margin-bottom: 1rem
    position: relative
    z-index: 1

    /* adjust text properties to align with dot patter */
    font-size: 14px
    line-height: 20px
    letter-spacing: 2px

    color: #333

.intro-image
    width: 100%
    max-width: 300px
    display: block
    margin: 0 auto 20px
    border-radius: 8px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    
