---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Title tag for setting dynamic page titles -->
    <title>
        {% if page.title %}
            {{ page.title }} | {{ site.name }}
        {% else %}
            {{ site.title }} | {{ site.name }}
        {% endif %}
    </title>

    <!-- Meta tags are important for SEO and help search engines understand the content and relevance of your website. -->
    {% if site.analytics-google %}
        {% include analytics-google.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="author" content="zhuoxinranli">
    <meta name="description" content="The personal website of Zhuoxinran Li featuring projects, blogs, and about me sections.">
    <meta name="keywords" content="Zhuoxinran Li, personal website, projects, blogs, about me">
    <meta name="robots" content="index, follow">

    {% seo %}

    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" name="{{ site.name }}" href="{{ site.url }}{{ "/feed.xml" }}" />

    <script src="https://kit.fontawesome.com/d9b09040a7.js" crossorigin="anonymous"></script>

    <style>
    
    {% if site.dark-theme == "auto" %}
        {% capture scss_sheet %}
            {% include style.scss %}
            @media (prefers-color-scheme: dark) {
                {% include style-dark.scss %}
            }
        {% endcapture %}
    {% elsif site.dark-theme %}
        {% capture scss_sheet %}{% include style-dark.scss %}{% endcapture %}
    {% else %}
        {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
    {% endif %}

    {{ scss_sheet | scssify }}
    </style>
    
    <!-- Schema Markup for SEO -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "zhuoxinranli",
          "url": "{{ site.url }}",
          "sameAs": [
            "https://www.linkedin.com/in/zhuoxinran-li",
            "https://twitter.com/zhuoxinran_li"
          ],
          "description": "Personal website of Zhuoxinran Li, showcasing projects, blogs, and about me."
        }
        </script>
    
        <script src="https://kit.fontawesome.com/d9b09040a7.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
        {% if page.layout == "post" %}
            <div class="post">
        {% else %}
            {% if showHeader != true %}
                <div class="page {{ page.title | downcase }}">
            {% else %}
                <div class="{{ page.title | downcase }}">
            {% endif %}
        {% endif %}

            {{ content }}
            </div>
                </div>
            </div>
    </div>
</body>
</html>
